code
	{
		background-color: rgba(79, 74, 74, 1);
		padding: 10px 10px 10px 10px;
		display: block;
		margin-top: 15px;
		

	}
#navbar
	{
		float: left;
		color:white;
		background-color: rgba(0, 0, 0, 1);
		width: 20%;
		height: 100%;
		overflow: auto;

	}
#navbar header 
	{
		text-align: center;
		font-size: 2em;
		padding-top: 1.5em;
	

	}
li
	{
	
		font-size: 1.5em;
		list-style: none;
		line-height: 1.5em;
		/*background-color: gray;*/
		
	}	

a 
	{
		color: white;
		text-decoration: none;

		/*background-color: green;*/
		/*margin-left:0px;*/
		
	}	

a:hover
	{
		animation: mover ; 
		animation-duration: 2s;
	/*	background-color: red;*/
	/*	margin-left:10px; */
		animation-fill-mode:forwards;

	}	
@keyframes mover
	{
		from {margin-left:0px;}
		to {margin-left:50px;}
	}	

#main-doc 
	{
		color:white;
		background-color: rgba(27, 26, 24, 1);
		float: left;
		width: 80%;
		height:100%;
		overflow: auto;

	}

	h1 {text-align: center;}

.main-doc-text
	{
		width: 90%;
		font-size: 20px;
		/*background-color: red;*/
		margin:0 auto; 
		padding-top: 10px;

	}	
